<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RincondeLectura.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="RincondeLectura.My.MySettings.dbRincondeLecturaConnectionString" connectionString="Data Source=DESKTOP-RE6RPNF\SQLEXPRESS01;Initial Catalog=dbRincondeLectura;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="RincondeLectura.My.MySettings.RincondeLecturaConnectionString" connectionString="Data Source=DESKTOP-RE6RPNF\SQLEXPRESS01;Initial Catalog=RincondeLectura;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="RincondeLectura.My.MySettings.dbRincondeLecturaConnectionString1" connectionString="Data Source=LAPTOP-ICCKRPL0\SQLEXPRESS;Initial Catalog=dbRincondeLectura;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="RincondeLectura.My.MySettings.dbLubricentro" connectionString="Data Source=DESKTOP-RE6RPNF\SQLEXPRESS01;Initial Catalog=dbLubricentro;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="RincondeLectura.My.MySettings.dbLubricentroConnectionString" connectionString="Data Source=ARIEL\SQLEXPRESS;Initial Catalog=dbLubricentro;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="dbLubricentroEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RE6RPNF\SQLEXPRESS01;initial catalog=dbLubricentro;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbLubricentroEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARIEL\SQLEXPRESS;initial catalog=dbLubricentro;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <RincondeLectura.My.MySettings>
      <setting name="isbn" serializeAs="String">
        <value />
      </setting>
    </RincondeLectura.My.MySettings>
  </userSettings>
</configuration>